In [1]:
import pandas as pd

In [5]:
dev_2020 = pd.read_csv('developer_survey/developer_survey_2020/survey_results_public2020.csv')
dev_2020.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [8]:
dev_2019 = pd.read_csv('developer_survey/developer_survey_2019/survey_results_public2019.csv', usecols =['Respondent',
                                                                                                        'CareerSat',
                                                                                                        'JobSat',
                                                                                                        'WorkRemote',
                                                                                                        'WorkLoc'])
dev_2019.head()

,Respondent,CareerSat,JobSat,WorkRemote,WorkLoc
0,1,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN
2,3,Slightly satisfied,Slightly satisfied,Less than once per month / Never,Home
3,4,Very satisfied,Slightly satisfied,Less than once per month / Never,Home
4,5,Very dissatisfied,Slightly dissatisfied,A few days each month,Office

In [10]:
dev_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88883 entries, 0 to 88882
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Respondent  88883 non-null  int64
 1   CareerSat   72847 non-null  object
 2   JobSat      70988 non-null  object
 3   WorkRemote  70284 non-null  object
 4   WorkLoc     70055 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.4+ MB

In [11]:
dev_2019_wfh = dev_2019[dev_2019['WorkRemote'] == "All or almost all the time (I'm full-time remote)"]
dev_2019_wfh

,Respondent,CareerSat,JobSat,WorkRemote,WorkLoc
6,7,Slightly satisfied,Neither satisfied nor dissatisfied,All or almost all the time (I'm full-time remote),"Other place, such as a coworking space or cafe"
12,13,Very satisfied,Very satisfied,All or almost all the time (I'm full-time remote),Home
27,28,Very satisfied,Very satisfied,All or almost all the time (I'm full-time remote),Home
41,42,Neither satisfied nor dissatisfied,Slightly satisfied,All or almost all the time (I'm full-time remote),Office
65,66,Very satisfied,Very satisfied,All or almost all the time (I'm full-time remote),Home
...,...,...,...,...,...
88275,88827,Very satisfied,Very satisfied,All or almost all the time (I'm full-time remote),Home
88278,88830,Very satisfied,Very satisfied,All or almost all the time (I'm full-time remote),Home
88282,88834,Slightly satisfied,Neither satisfied nor dissatisfied,All or almost all the time (I'm full-time remote),Home
88287,88839,Slightly satisfied,Very satisfied,All or almost all the time (I'm full-time remote),Home
88316,88869,Very dissatisfied,Very dissatisfied,All or almost all the time (I'm full-time remote),Home

In [12]:
dev_2019_wfh_some = dev_2019[dev_2019['WorkRemote'] == "A few days each month"]
dev_2019_wfh_some

,Respondent,CareerSat,JobSat,WorkRemote,WorkLoc
4,5,Very dissatisfied,Slightly dissatisfied,A few days each month,Office
5,6,Very satisfied,Slightly satisfied,A few days each month,Home
9,10,Slightly dissatisfied,Slightly dissatisfied,A few days each month,Home
15,16,Very satisfied,Slightly satisfied,A few days each month,Home
16,17,Slightly satisfied,Neither satisfied nor dissatisfied,A few days each month,"Other place, such as a coworking space or cafe"
...,...,...,...,...,...
88314,88867,Very satisfied,Very satisfied,A few days each month,Office
88315,88868,Slightly satisfied,Slightly dissatisfied,A few days each month,"Other place, such as a coworking space or cafe"
88318,88871,Very dissatisfied,Very dissatisfied,A few days each month,Office
88325,88878,Very satisfied,Very satisfied,A few days each month,Office
88328,88881,Neither satisfied nor dissatisfied,Neither satisfied nor dissatisfied,A few days each month,Office

In [13]:
dev_2019_wfh_never = dev_2019[dev_2019['WorkRemote'] == "Less than once per month / Never"]
dev_2019_wfh_never

,Respondent,CareerSat,JobSat,WorkRemote,WorkLoc
2,3,Slightly satisfied,Slightly satisfied,Less than once per month / Never,Home
3,4,Very satisfied,Slightly satisfied,Less than once per month / Never,Home
8,9,Slightly satisfied,Slightly satisfied,Less than once per month / Never,Office
13,14,Very satisfied,Very satisfied,Less than once per month / Never,Office
17,18,Slightly satisfied,Very satisfied,Less than once per month / Never,Office
...,...,...,...,...,...
88302,88854,Very satisfied,Slightly satisfied,Less than once per month / Never,Office
88308,88860,Slightly dissatisfied,Very dissatisfied,Less than once per month / Never,Office
88324,88877,Very satisfied,Very satisfied,Less than once per month / Never,Office
88326,88879,Slightly satisfied,Neither satisfied nor dissatisfied,Less than once per month / Never,Home
88329,88882,Slightly dissatisfied,Very dissatisfied,Less than once per month / Never,Home

In [19]:
dev_2019_wfh_never.groupby('WorkLoc')
dev_2019_wfh_never

,Respondent,CareerSat,JobSat,WorkRemote,WorkLoc
2,3,Slightly satisfied,Slightly satisfied,Less than once per month / Never,Home
3,4,Very satisfied,Slightly satisfied,Less than once per month / Never,Home
8,9,Slightly satisfied,Slightly satisfied,Less than once per month / Never,Office
13,14,Very satisfied,Very satisfied,Less than once per month / Never,Office
17,18,Slightly satisfied,Very satisfied,Less than once per month / Never,Office
...,...,...,...,...,...
88302,88854,Very satisfied,Slightly satisfied,Less than once per month / Never,Office
88308,88860,Slightly dissatisfied,Very dissatisfied,Less than once per month / Never,Office
88324,88877,Very satisfied,Very satisfied,Less than once per month / Never,Office
88326,88879,Slightly satisfied,Neither satisfied nor dissatisfied,Less than once per month / Never,Home
88329,88882,Slightly dissatisfied,Very dissatisfied,Less than once per month / Never,Home