In [3]:
import requests
import pandas as pd
import pickle
import time
import numpy as np

In [4]:
with open('api_keys1.pkl', 'rb') as keys_file:
    test = pickle.load(keys_file)
    api_key = test['polygon']

In [5]:
endpoint = 'https://api.polygon.io/v1/open-close/'

In [13]:
params = {'ticker' : 'MSFT',
          'date' : '2020-10-14',
         'apikey' : api_key}

In [14]:
resp = requests.get(endpoint, params = params)

In [15]:
resp

In [9]:
resp = requests.get('https://api.polygon.io/v1/open-close/AAPL/2020-10-14?apiKey=' + api_key)

In [10]:
resp

In [11]:
result = resp.json()

In [12]:
result

{'status': 'OK',
 'from': '2020-10-14',
 'symbol': 'AAPL',
 'open': 121,
 'high': 123.03,
 'low': 119.62,
 'close': 121.19,
 'volume': 151057198,
 'afterHours': 121,
 'preMarket': 121.55}

In [16]:
AAPL = result

In [17]:
AAPL = pd.DataFrame(AAPL, index=[0])
AAPL

,status,from,symbol,open,high,low,close,volume,afterHours,preMarket
0,OK,2020-10-14,AAPL,121,123.03,119.62,121.19,151057198,121,121.55